@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #c8d5bb;
  --background-dark: #6c848d;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-light: #47585c;
    --background-dark: #16160e;
  }
} */

.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.row-span-1 {
  grid-row: span 1 / span 1;
}
.row-span-2 {
  grid-row: span 2 / span 2;
}

.bg {
  background: linear-gradient(
    270deg,
    var(--background-light),
    var(--background-dark)
  );
  background-size: 400% 400%;

  animation: bg-gradation 30s ease infinite;
}

@keyframes bg-gradation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.showTopBottom {
  animation: showTopBottom 0.3s 0.1s ease forwards;
}
.showBottomTop {
  animation: showBottomTop 0.3s 0.1s ease forwards;
}
.showRightLeft {
  animation: showRightLeft 0.3s 0.1s ease forwards;
}
.showLeftRight {
  animation: showLeftRight 0.3s 0.1s ease forwards;
}

@keyframes showTopBottom {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showBottomTop {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showRightLeft {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showLeftRight {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.blog-content {
  line-height: 2;
}
.blog-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.blog-content h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.blog-content a {
  text-decoration: underline;
}
.blog-content a:hover {
  opacity: 0.8;
}
.blog-content p {
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #ededed30;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #edededdd;
  border-radius: 10px;
}
